# Testing & Verification

## 1. Running Containers
Screenshot: `docker ps`
![img_9.png](img_9.png)
![img_8.png](img_8.png)

## 2. Nginx Test
http://localhost:8080
![img_7.png](img_7.png)

## 3. Node App Test
http://localhost:3000
![img_6.png](img_6.png)

## 4. Redis Test
redis-cli ping → PONG
![img_3.png](img_3.png)

## 5. PostgreSQL Test
psql connection successful
![img_2.png](img_2.png)

## 6. Portainer UI
http://localhost:9000

username: admin,
password: admin1234567

![img_4.png](img_4.png)
![img_5.png](img_5.png)